/* body {
    background-color: red;
} */

/* body {
    background-image: url("surat.jpg");
} */

/* body {
    background-image: red;
} */

/* .orta {
    text-align: end;
} */

.bir {
    background-color: #eaecf0;
}

.iki {
    background-color: #a2a9b1;
}