@charset "utf-8";

* {
  text-decoration: none;
}

.hemme-zat {
  background-color: #37517e;
  height: 100vh;
}

.logo {
  margin-top: 10px;
}

body {
  margin: 0;
}

section {
  background-color: #37517e;
}

header {
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.navbar {
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.navbar li {
  font-size: 18px;
}

.text-box {
  padding: 10px;
  border: 2px solid lightskyblue;
  border-radius: 15px;
}

h1 {
  color: white;
  font-size: 48px;
}

.secong-section-text {
  color: #afb9cb;
}

.h3 {
  color: white;
  display: block;
}

.section-icons {
  padding: 20px;
  background: #f3f5fa;
  display: flex;
  justify-content: space-evenly;
}

.flex-rahman {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1124px;
  margin-inline: auto;
}

.tanyshmak {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #47b2e4;
}

.about-us {
  background-color: #ffffff;
  padding-bottom: 100px;
}

.biz-barada {
  display: flex;
  justify-content: center;
  color: #37517e;
  font-size: 20px;
}

.third-section-first-text {
  display: flex;
  justify-content: space-evenly;
}

.third-section-first-text p {
  font-size: 20px;
}

.third-section-first-text ul li {
  font-size: 20px;
  list-style: none;
}

.about-us button {
  padding: 12px 32px;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  color: #47b2e4;
  border: 2px solid #47b2e4;
  border-radius: 4px;
}

.about-us button:hover {
  background-color: #47b2e4;
  color: white;
}

.fourth-section {
  background-color: #f3f5fa;
  padding-bottom: 100px;
}

.hyzmatlarymyz {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #37517e;
  font-size: 20px;
}

.hyzmatlarymyz h4 {
  color: black;
}

.box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.box div {
  display: flex;
  font-size: 21px;
  color: #37517e;
  background-color: white;
  padding: 80px 50px;
}

.box a {
  text-decoration: none;
}

.box a:hover {
  color: #47b2e4;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 80px;
}

.div1 h2 {
  color: #37517e;
  font-size: 28px;
}

.div2 h4 {
  font-size: 25px;
  color: #37517e;
  margin-bottom: 9px;
}

.div2 ul {
  list-style: none;
  display: inline;
  margin-top: auto;
}

.div2 li {
  margin-top: 5px;
  color: #777777;
}

.div3 h2 {
  font-size: 25px;
  color: #37517e;
}

.div3 ul {
  list-style: none;
  display: inline;
}

.div3 li {
  margin-top: 5px;
  color: #777777;
}

.div2 li:hover {
  color: #47b2e4;
}

.div3 li:hover {
  color: #47b2e4;
}

.div4 h2 {
  font-size: 25px;
  color: #37517e;
}

.div4 p {
  color: #444444;
}

/* .div4 div a img {
  margin-right: 10px;
  background-color: #47b2e4;
  color: white;
  padding: 10px;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 20px;
} */

.twitter-a {
  background-color: #47b2e4;
  padding: 10px;
  border-radius: 50%;
}