@charset "utf-8";

* {
  text-align: center;
}

.first-button,
.second-button {
  font-size: 20px;
  margin-top: 50px;
  padding: 20px;
}

.first-button {
  color: white;
  background-color: chocolate;
  border: none;
}

.second-button {
  color: white;
  background-color: blue;
  border: none;
}