@charset "UTF-8";

/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .bashga-shrift {
  font-family: "Bebas Neue", sans-serif;
}

.bashga-shrift2 {
  font-family: "Great Vibes", cursive;
} */