@charset "UTF-8";

/* .color-name {
  background-color: yellow;
}

.rgb {
  background-color: rgb(255, 255, 0);
}

.hsl {
  background-color: hsl(60, 100%, 50%);
}

.color-code {
  background-color: #ffff00;
} */

/* body {
  background-color: #FFF;
} */

/* body {
  background: #00F;
} */

/* body {
  background-color: rgb(255, 255, 0);
}

h2 {
  background-color: rgba(255, 0, 0, 0.5);
} */

/* body {
  background-color: hsl(hue, saturation, lightness);
} */