@charset "UTF-8";


.color-name {
  background-color: yellow;
}

.rgb {
  background-color: rgb(255, 255, 0);
}

.hsl {
  background-color: hsl(60, 100%, 50%);
}

.color-code {
  background-color: #ffff00;
}