@charset "utf-8";

* {
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  border: 30px;
  padding: 12px 32px;
  margin: 50px;
  border-radius: 6px;
}

.first-button {
  color: white;
  background-color: rgb(231, 112, 13);
}

.second-button {
  color: white;
  background-color: #1B75D0;
}